<html>
<center><h1>Get off my lawn</h1>
<marquee>We got that scrolling marquee SON</marquee>
<p>
<center><a href=http://www.gawker.com/> Gawker </a>
<p>Sign Up <%= link_to "Here", "#"%></p>
<p><%= link_to "About", "about"%></p>
</html>

